@model chat.Models.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "User Login";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="maintitle text-light">
                <b>
                    @Localizer["String2"]
                </b>
                <t class="markertext">C-Chat</t>!
            </div>
            <br>
            <t class="secondtitle text-light">
                @Localizer["String1"]
                <t>
                    <a asp-controller="account" asp-action="Register"
                       class="nav-link" style="color:deeppink">
                        @Localizer["Register"]
                    </a>
                </t>
            </t>

        </div>
        <div class="col-sm">
            <div class="authcontainer cardflat">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row justify-content-center">
                        <label class="text-light">@Localizer["UserName"]</label>
                    </div>
                    <div class="row justify-content-center">
                        <input class="concavecard text-white" asp-for="UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="row justify-content-center">
                        <label class="text-light">@Localizer["Password"]</label>
                    </div>
                    <div class="row justify-content-center">
                        <input id="passwordTextBox" class="concavecard text-white" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label class="text-white">
                            @Localizer["ShowPassword"]
                            <input type="checkbox" onclick='toggleShowPassword()' />
                        </label>
                    </div>
                    <div class="row justify-content-center">
                        <div class="check-button">
                            <div for="click" class="toggle">
                                <input type="checkbox" asp-for="RememberMe"  id="rememberme" name="rememberme">
                            </div>
                        </div>
                        <nobr><label class="text" for="rememberme"></label></nobr>
                    </div>
                    <script>
                        document.querySelector('.toggle').addEventListener('click', function () {
                            document.querySelector('.text').classList.toggle('check');
                        });
                    </script>
                    <div class="row justify-content-center">
                        <button class="loginbutton text-light" id="login">@Localizer["Login"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ShowPassword.js"></script>
