@model chat.ViewModels.AllChatsViewModel

<div class="container-fluid ">
    <div class="row d-flex justify-content-start ">
        <div class="col-md-4 order-md-1">

            <form method="post" asp-action="Search">
                <input asp-for="CurrentChatName" class="cardpressed search text-white" type="text" placeholder="Search chat.." name="search">
                <button class="search-button" type="submit"><i class="text-white fa fa-search"></i></button>
            </form>

            <ul class="list-unstyled">
                @if (Model.ChatList != null)
                    @foreach (var chat in Model.ChatList)
                    {
                        <li class="list-group-flush flex-column align-items-start chatcard chat-item text-light">
                            <form asp-action="SwitchChat" asp-route-chatId="@chat.ChatId" method="post">
                                <button class="w-100" style=" background:none;">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="logo text-white">
                                            <img class="p-1 chat-navbar-image rounded-circle z-depth-0" src="~/images/@chat.Chat.PhotoPath" asp-append-version="true" \>
                                        </div>
                                        <div class="w-100">
                                            <div class="d-flex w-75 justify-content-between">
                                                <h5 class="mb-1 text-light">@chat.Chat.ChatName</h5>
                                                <small id="whenToChat @chat.ChatId" class="ordinary-text-color">@chat.Chat.LastMessageWhen.ToString("h:m")</small>
                                            </div>
                                            <div class="d-flex w-100 justify-content-start">
                                                <p id="nameToChat @chat.ChatId" class="mb-1 markertext">@chat.Chat.LastMessageSender</p>
                                                <div id="messageToChat @chat.ChatId" class="ordinary-text-color hide-more-text text-sm-left">
                                                    @chat.Chat.LastMessageText
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </form>
                        </li>
                    }
            </ul>

            @Html.Partial("CreateChat", Model)
        </div>
       @if (Model.CurrentChatId != null)
       {
    <div class="text-white col-md-8 order-md-2 d-flex flex-column y">
        <div class="mt-4 row">
            <nav class="navbar navbar-expand  flex-xl-grow-1 w-100  cardflat">
                <div class="container">
                    <ul class="ml-auto navbar-nav navbar-right">
                        <li class="nav-link profile-out justify-content-center">
                            <img class="chat-image rounded-circle z-depth-0" src="~/images/@Model.CurrentChatPhotoPath" asp-append-version="true" \>
                        </li>

                        <li class="mt-auto mb-auto ml-1 mr-1 nav-item ordinary-text-color">@Model.CurrentChatName</li>
                        <li class="mt-auto mb-auto nav-item ordinary-text-color">@Html.Partial("EditChat", Model)</li>
                        @* <li class="mt-1 nav-item dropdown no-border ">
            <a class="nav-link dropdown-toggle no-border ordinary-text-color " id="navbarDropdownMenuLink-4" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="ordinary-text-color fas fa-cog"></i>
            </a>
            <div class="dropdown-menu back  dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">

                <a class="dropdown-item-text ordinary-text-color" asp-route-chatId="@Model.CurrentChatId" asp-action="AddUsersToChat">Add user</a>
            </div>
        </li>*@
                    </ul>
                </div>
            </nav>
        </div>
        
        <div class="row flex-grow-1 m-2 align-items-end" >
          
            <div>
                <input hidden value="@User.Identity.Name" id="userInput" /> @*константи*@
                <input hidden value="@Model.CurrentUserId" id="userId" />
                <input hidden value="@Model.CurrentUserPhotoPath" id="photoPath" />
                <input id="chatId" asp-for="CurrentChatId" value="@Model.CurrentChatId" type="hidden" />
            </div>

        <div class="w-100  ml-auto d-flex flex-column">
            <div class="">
                <ul id="messages" class="list-unstyled list-unstyled-messages mb-auto">
                    @* вивід повідомлень *@
                    @if (Model.MessageList != null)
                        @foreach (var message in Model.MessageList.OrderBy(m => m.When))
                        {

                            @if (@User.Identity.Name.Equals(@message.SenderName))
                            {
                                <li class="w-50 ml-auto m-3 ordinary-text-color">
                                    <div class="row cardflat pt-2 pb-2 pr-3 pl-3"> @message.MessageText </div>
                                    <div class="row ml-auto d-flex">
                                        <small class="ml-auto pr-1 ordinary-text-color">@message.When.ToString("ddd MMM hh:mm")</small>
                                        <small class="pr-1 ordinary-text-color">@message.SenderName</small>
                                        <img class="p-1 small-profile rounded-circle z-depth-0" src="~/images/@message.PhotoPath" asp-append-version="true" \>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="w-50 mr-auto m-4 ordinary-text-color">
                                    <div class="row cardflat pt-2 pb-2 pr-3 pl-3"> @message.MessageText </div>
                                    <div class="row mr-auto d-flex">
                                        <img class="p-1 small-profile rounded-circle z-depth-0" src="~/images/@message.PhotoPath" asp-append-version="true" \>
                                        <small class="pr-1 ordinary-text-color">@message.SenderName</small>
                                        <small class="mr-auto pr-1 ordinary-text-color">@message.When.ToString("ddd MMM hh:mm")</small>
                                    </div>
                                </li>
                            }
                        }
                    <li id="messagesList"></li>
                </ul>
                <script>
                    var messageList = document.getElementById("messages");
                    messageList.scrollTop = messageList.scrollHeight;
                </script>
            </div>

                @* поле вводу *@
        <div class="p-2 d-flex">
            <input id="messageInput" class="p-2 w-100 cardpressed  text-white" type="text" placeholder="Write your message...">
            <div class="p-2 align-content-center bd-highlight">
                @* кнопка відправлення *@
                <button id="sendButton" class="search-button submit"><i class="text-light fa fa-paper-plane" aria-hidden="true"></i></button>
                <script>
                    document.getElementById("sendButton").addEventListener('click', function () {
                        
                    });
                </script>
            </div>
        </div>
        </div>
        </div>
    </div>
       }
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>