@model chat.ViewModels.AllChatsViewModel
@{
    var photoPath = "~/images/" + (Model.CurrentChatPhotoPath ?? "no_chat_avatar.jpg");
}
<div class="container-fluid ">
    <div class="row d-flex justify-content-center ">
        
        
        <div class="text-light">
            @*<h1>Hi</h1>
        @if (Model.AddUsersToChat)
        {
            <form asp-controller="Chat" asp-action="AddMemder" asp-route-ChatId="@Model.ChatId">
                <div asp-validation-summary="All" class="text-danger"></div>

                <label asp-for="NewUserName"></label>
                <div><input asp-for="NewUserName" placeholder="WriteUserName"></div>

                <div><button type="submit" asp-action="AddMemder" asp-route-chatId="@Model.ChatId">Add</button></div>
            </form>
        }

        <form method="post" asp-route-chatId="@Model.ChatId" asp-action="Leave">
            <div><button>LeveChat</button></div>
        </form>

        @for (int i = 0; i < Model.UserNameList.Count; ++i)
        {
            <div>
                <label>@Model.UserNameList[i]</label>
                @if (Model.KickUsers)
                {
                    <form method="post" asp-action="KickUser"
                          asp-route-userId="@Model.UserIdList[i]"
                          asp-route-chatId="@Model.ChatId">
                        <button>Kick</button>
                    </form>
                }
                @if (Model.GiveRoles)
                {
                    <a asp-action="ChangeRole" asp-route-userId="@Model.UserIdList[i]"
                       asp-route-chatId="@Model.ChatId">ChangeRole</a>
                }
            </div>
        }*@
            <div class="d-flex justify-content-center">
                <button type="button" class="btn signupbutton" data-toggle="modal" data-target="#editChatModal">
                    Edit Chat
                </button>
            </div>

            <div class="modal fade" id="editChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content back">
                        <div class="modal-header border-aqua">
                            <h5 class="modal-title markertext" id="exampleModalLabel">Edit @Model.CurrentChatName</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form enctype="multipart/form-data" method="post" asp-action="EditChat" asp-route-chatId="@Model.CurrentChatId">
                                <div class="row justify-content-center">
                                    <img class="card-img-top  rounded-circle edit-image-size" src="@photoPath" asp-append-version="true" /> @*вивід картинки*@
                                </div>

                                <div class="row justify-content-center"><label class="ordinary-text" asp-for="NewChatPhoto"></label></div>
                                <div class="custom-file">
                                    <input asp-for="NewChatPhoto" class="form-control custom-file-input w-100 concavecard text-white">
                                    <label class="custom-file-label back text-white p-2"> Choose File...</label>
                                </div>


                                <div class="mt-5 mb-5">
                                    <label asp-for="CurrentChatName"></label>
                                    @*TODO: виправити помилку зміни імені*@
                                    <input class="w-100 concavecard text-white" value="@Model.CurrentChatName" asp-for="CurrentChatName" />
                                    <span asp-validation-for="CurrentChatName" class="text-danger"></span>
                                </div>
                                @section Scripts {
                                    <script>
                                        $(document).ready(function () {
                                            $('.custom-file-input').on("change", function () {
                                                var fileName = $(this).val().split("\\").pop();
                                                $(this).next('.custom-file-label').html(fileName);
                                            });
                                        });
                                    </script>
                                }
                            </form>

                        </div>
                        <div class="modal-footer">
                            <div class="mr-auto">
                                <form method="post" asp-action="DeleteChat" asp-route-chatId="@Model.CurrentChatId">
                                    <button type="button" class="delate-button headerbutton text-light">delete chat </button>
                                </form>
                            </div>

                            <button type="button" class="cardflat headerbutton text-light" data-dismiss="modal">Close</button>
                            <form enctype="multipart/form-data" method="post" asp-action="EditChat" asp-route-chatId="@Model.CurrentChatId">
                                <button class="create-button headerbutton text-light">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>