@model chat.ViewModels.ChatViewModel

<h4 style="color:deeppink">@Model.ChatName</h4>

@if (Model.Messages != null)
{
    @foreach (var messages in Model.Messages.OrderBy(m => m.When))
    {
        <h1 style="color:deeppink">@messages.SenderName: @messages.MessageText</h1>
    }
}
<h1 style="color:deeppink" id="messagesList"></h1>

<div>
    <input hidden value="@User.Identity.Name" id="userInput" />

    <input id="chatId" asp-for="ChatId" value="@Model.ChatId" type="hidden" />
    <div class="form-group row">
        <label asp-for="MessageText" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input id="messageInput" asp-for="MessageText" class="form-control" placeholder="WriteMessage">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button id="sendButton" type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>

<a asp-action="AllChats" asp-controller="Chat">Back</a>
<a asp-action="AddMemder" asp-controller="Chat" asp-route-chatId="@Model.ChatId">Add</a>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>